{% extends "layouts/main.njk" %}

{% block head %}
  <script defer="defer" src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script>
    window.history.replaceState(null, '', window
      .location
      .pathname
      .toLowerCase());
  </script>
{% endblock %}

{% block main %}
  {% block subheader %}{% endblock %}

  <div class="bg-neutral-200 py-6">
    <div class="container-auto grid grid-cols-[3fr_1fr] gap-6">
      <section id="feed-left-column" class="flex flex-col gap-4">
        {% block left_column %}
          {% if posts.length %}
            {% for post in posts %}
              {% include "components/post.njk" %}
            {% endfor %}
          {% else %}
            <p class="font-semibold text-center text-gray-700">
              {% block no_posts_msg %}
                This board doesn't have any posts yet
              {% endblock %}
            </p>
          {% endif %}
        {% endblock %}
      </section>

      <section id="feed-right-column" class="flex flex-col gap-4">
        {% block right_column %}{% endblock %}
      </section>
    </div>
  </div>
{% endblock %}