{% extends "layouts/main.njk" %}

{% block main %}
  {% block subheader %}{% endblock %}

  <div class="bg-neutral-200 py-6">
    <div class="container-auto grid grid-cols-[3fr_1fr] gap-6">
      <section class="flex flex-col gap-4">
        {% block left_column %}
          {% if posts.length %}
            {% for post in posts %}
              {% include "components/post.njk" %}
            {% endfor %}
          {% else %}
            <p class="font-semibold text-center text-gray-700">This board doesn't have any posts yet</p>
          {% endif %}
        {% endblock %}
      </section>

      <section class="flex flex-col gap-4">
        {% block right_column %}{% endblock %}
      </section>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    window.history.replaceState(null, '', window
      .location
      .pathname
      .toLowerCase());

    Array.from(document.body.querySelectorAll('[data-href]')).map(e => e.addEventListener('click', () => window.location.assign(e.dataset.href)));
  </script>
{% endblock %}