{% set use_alpine = true %}
{% extends "layouts/main.njk" %}
{% from "components/post.njk" import post_card, post_header %}

{% block main %}
  {% block subheader %}{% endblock %}

  <div class="bg-neutral-200 py-6">
    <div class="container-auto grid grid-cols-[3fr_1fr] gap-6">
      <section id="feed-left-column" class="flex flex-col gap-4">
        {% block left_column %}
          {% if posts.length %}
            {% for post in posts %}
              {% call post_card(post) %}
              {{ post_header(post, censor=not(current_user and is_current_user_member)) }}
              {% endcall %}
            {% endfor %}
          {% else %}
            <p class="font-semibold text-center text-gray-700">
              This board doesn't have any posts yet
            </p>
          {% endif %}
        {% endblock %}
      </section>

      <section id="feed-right-column" class="flex flex-col gap-4">
        {% block right_column %}{% endblock %}
      </section>
    </div>
  </div>
{% endblock %}