<div
  class="container-auto rounded-md px-6 py-4 my-6 border border-solid"
  style="background: {{ messages.colors.background }}; color: {{ messages.colors.text }}; border-color: {{
    messages.colors.border }};">
  {% if messages.header %}
    <p>&#9888; {{ messages.header }}</p>
  {% endif %}
  {% if messages.items and messages.items.length > 0 %}
    <ul class="ml-4">
      {% for param, items in messages.items | groupby("param") %}
        <li>
          <strong>{{ param | capitalize }}:</strong>
          {% for item in items %}
            {{ item.message if loop.first else (item.message | lower) }}{{ "," if not loop.last }}
          {% endfor %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>