{% macro post_btn(text, action, name, value, class="btn primary") %}
  <form action="{{ action }}" method="post">
    <button type="submit" class="{{ class }}" {{ { name: name, value: value } | stringify  }}>
      {{ text }}
    </button>
  </form>
{% endmacro %}

{% macro get_btn(text, action, class="btn primary") %}
  <a href="{{ action }}" class="{{ class }}">
    {{ text }}
  </a>
{% endmacro %}