{% macro basic_controls(edit_action="", delete_action="") %}
  <div class="absolute flex flex-row space-x-1 top-2 right-2 invisible group-hover:visible">
    <button
      title="Edit"
      class="p-1 rounded-md primary top-2 right-2 focus:ring"
      @click.stop="window.location.assign('{{ edit_action }}')">
      <span class="sr-only">Edit</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="stroke-white"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#ffffff"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4"/>
        <line x1="13.5" y1="6.5" x2="17.5" y2="10.5"/>
      </svg>
    </button>
    <button
      title="Delete"
      class="p-1 rounded-md danger top-2 right-2 focus:ring"
      @click.stop="$store.fetch.delete('{{ delete_action }}')">
      <span class="sr-only">Delete</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="stroke-white"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#ffffff"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        aria-hidden="true">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <line x1="4" y1="7" x2="20" y2="7"/>
        <line x1="10" y1="11" x2="10" y2="17"/>
        <line x1="14" y1="11" x2="14" y2="17"/>
        <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"/>
        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"/>
      </svg>
    </button>
  </div>
{% endmacro %}