{# TODO: Allow switching of position #}
{% macro input(type, name, label="", required=false, show_required=true, placeholder="", class="mt-1 block w-full", attrs="") %}
  {% if not label %}
    {% set label = name %}
  {% endif %}
  <label class="block">
    <span class="text-gray-700">{{ label | capitalize }}</span>
    {% if required and show_required %}
      <span class="text-red-600">*</span>
    {% endif %}
    {% if type === "textarea" %}
      <textarea class="mt-1 block w-full" rows="3" name="{{ name }}" {{ attrs }}></textarea>
    {% else %}
      <input type="{{ type }}" name="{{ name }}" class="{{ class }}" placeholder="{{ placeholder }}" {{ "required" if required else "" }} {{ attrs }}/>
    {% endif %}
  </label>
{% endmacro %}

{% macro form(title, action) %}
  <div class="mt-8 mx-auto max-w-md">
    <h1 class="font-bold text-2xl mb-6">{{ title }}</h1>
    <form class="space-y-6" action="{{ action }}" method="post">
      {{ caller() }}
      <button type="submit" class="btn--primary">Submit</button>
    </form>
  </div>
{% endmacro %}