{% macro post_card(data) %}
  <div class="bg-white rounded-md px-6 py-4 cursor-pointer border border-solid hover:border-gray-500" data-href="{{ data.url }}" @click="window.location.assign($el.dataset.href)">
    {{ caller() }}
    <div class="prose prose-sm line-clamp-6 max-w-none">
      <h1>{{ data.title }}</h1>
      {{ data.body | makehtml | safe }}
    </div>
  </div>
{% endmacro %}

{% macro post_header(data, censor=false) %}
  <p class="text-sm text-gray-500 mb-2">
    Posted by
    {% if censor %}
      <span>&block;&block;&block;&block;&block;</span>
    {% else %}
      <a class="hover:underline" href="/u/{{ data.author }}">u/{{ data.author }}</a>
      • {{ data.date_created | formatdistance }}
    {% endif %}
  </p>
{% endmacro %}