{% set show = true %}
{% if post.private %}
  {% if not is_current_user_member %}
    {% set show = false %}
  {% endif %}
{% endif %}

{% if show %}
  <div class="bg-white rounded-md px-6 py-4 cursor-pointer border border-solid hover:border-gray-500" data-href="{{ post.url }}">
    <p class="text-sm text-gray-500 mb-2">
      {% if is_main_feed %}
        Posted in
        <a href="/b/{{ post.board }}">/b/{{ post.board }}</a>
      {% elif not (current_user and is_current_user_member) %}
        Posted by
        <span>&block;&block;&block;&block;&block;</span>
      {% else %}
        Posted by
        <a href="/u/{{ post.author }}">u/{{ post.author }}</a>
        • {{ post.date_created | formatdistance }}
      {% endif %}
    </p>
    <div class="prose prose-sm line-clamp-6 max-w-none">
      <h1>{{ post.title }}</h1>
      {{ post.body | makehtml | safe }}
    </div>
  </div>
{% endif %}