{% extends "layouts/form.njk" %}
{% from "components/form_controls.njk" import form, input %}

{% set title = "Login" %}

{% block form %}
  {% call form(title, '/login') %}
  {{ input('text', 'username', required=true, show_required=false) }}
  {{ input('password', 'password', required=true, show_required=false) }}
  {% endcall %}
{% endblock %}