{% extends "layouts/form.njk" %}
{% from "components/form_controls.njk" import form, input %}

{% set title = "Sign up" %}

{% block form %}
  {% call form(title, '/signup') %}
  {{ input('text', 'username', required=true, show_required=true) }}
  {{ input('text', 'display_name', 'Display name') }}
  {{ input('password', 'password', required=true, show_required=true) }}
  {{ input('textarea', 'bio') }}
  {% endcall %}
{% endblock %}