{% set title = "Sign up" %}
{% from "components/form_controls.njk" import input %}
{% extends "layouts/form.njk" %}

{% set form_title = title %}
{% set form_action = "/signup" %}

{% block form %}
  {{ input('text', 'username', required=true, show_required=false) }}
  {{ input('password', 'password', required=true, show_required=false) }}
{% endblock %}