{% extends "pages/post/_base.njk" %}

{% block secondary_content %}
  <div class="space-y-2">
    <a href="{{ post.url }}" class="group inline-flex align-middle font-semibold rounded-full">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-arrow-left"
        width="26"
        height="26"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#2c3e50"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <line x1="5" y1="12" x2="19" y2="12"/>
        <line x1="5" y1="12" x2="11" y2="18"/>
        <line x1="5" y1="12" x2="11" y2="6"/>
      </svg>
      <span class="text-neutral-800 group-hover:underline">
        Read all comments
      </span>
    </a>

    <div class="px-2 py-3">
      <p class="text-xs text-gray-500 mb-2">
        Posted by
        {% if is_current_user_member %}
          <a class="hover:underline" href="/u/{{ comment.author }}">u/{{ comment.author }}</a>
        {% else %}
          <span>&block;&block;&block;&block;&block;</span>
        {% endif %}
        • {{ comment.date_created | formatdistance }}
      </p>
      <div class="prose prose-sm max-w-none">
        {{ comment.body | makehtml(3) | safe }}
      </div>
    </div>
  </div>
{% endblock %}