{% extends "layouts/main.njk" %}
{% from "components/buttons.njk" import get_btn, post_btn %}
{% from "components/post.njk" import post_header %}

{% block head %}
  <script>
    window.history.replaceState(null, '', '{{ post.url }}');
  </script>
{% endblock %}

{% block main %}
  <div class="h-full bg-neutral-200">
    <div class="container-auto max-w-sm space-y-4 py-4">
      <div class="flex flex-row justify-between">
        <a
          href="/b/{{ post.board }}"
          class="inline-flex align-middle font-semibold text-center px-4 py-2 rounded-r-full rounded-l-full shadow-md bg-white
            focus:ring">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-arrow-left"
            width="28"
            height="28"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#2c3e50"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <line x1="5" y1="12" x2="19" y2="12"/>
            <line x1="5" y1="12" x2="11" y2="18"/>
            <line x1="5" y1="12" x2="11" y2="6"/>
          </svg>
          <span class="text-lg text-neutral-800">
            /b/{{ post.board }}
          </span>
        </a>
        {% if current_user and current_user.id === post.author %}
          <div class="flex gap-4">
            {{ get_btn('Edit', post.shorturl + '/edit') }}
            {{ post_btn('Delete', post.shorturl + '/delete', class='btn--danger') }}
          </div>
        {% endif %}
      </div>
      <section class="bg-white rounded-md px-10 py-4">
        {{ post_header(post, censor=not(current_user and is_current_user_member)) }}
        <div class="prose max-w-none">
          <h1>{{ post.title }}</h1>
          {{ post.body | makehtml | safe }}
        </div>
      </section>
      <section class="bg-white px-8 py-6 rounded-md space-y-4">
        {% if current_user %}
          {% if is_current_user_member %}
            <form class="space-y-2" action="{{ post.shorturl }}/comment" method="post">
              <textarea
                class="w-full px-4 py-2 text-sm rounded-md border border-solid border-neutral-300"
                rows="3"
                name="comment"
                maxlength="200"
                required
                placeholder="What are your thoughts?"></textarea>
              <button type="submit" class="text-sm font-semibold text-white px-4 py-2 rounded-full bg-blue-600 disabled:text-gray-300 disabled:bg-gray-500" {{ "disabled" if not is_current_user_member }} title="{{ "Become a member of this board to comment" if not is_current_user_member }}">
                Comment
              </button>
            </form>
          {% else %}
            <p class="font-semibold text-center text-gray-700">
              <a class="hover:underline" href="/b/{{ post.board }}/join">Become a member</a>
              of this board to join the conversation
            </p>
          {% endif %}
        {% else %}
          <p class="font-semibold text-center text-gray-700">
            <a class="hover:underline" href="/login">Log in</a>
            to join the conversation
          </p>
        {% endif %}
        <div class="divide-y-2">
          {% for comment in comments %}
            <div class="px-2 py-3">
              <p class="text-xs text-gray-500 mb-2">
                Posted by
                {% if is_current_user_member %}
                  <a class="hover:underline" href="/u/{{ comment.author }}">u/{{ comment.author }}</a>
                {% else %}
                  <span>&block;&block;&block;&block;&block;</span>
                {% endif %}
                • {{ comment.date_created | formatdistance }}
              </p>
              <div class="prose prose-sm max-w-none">
                {{ comment.body | makehtml(3) | safe }}
              </div>
            </div>
          {% endfor %}
        </div>
      </section>
    </div>
  </div>
{% endblock %}