{% extends "layouts/not_found.njk" %}

{% block heading %}
  Sorry, there aren't any post on Privvit with that id
{% endblock %}

{% block subheading %}
  This post may have been deleted or the id is incorrect.
{% endblock %}