{% set title = "Create board" %}
{% from "components/form_controls.njk" import form, input %}
{% extends "layouts/base.njk" %}

{% block body %}
  {% if messages %}
    {% include "components/alert.njk" %}
  {% endif %}
  <main class="container-auto">
    {% call form('Create New Board', '/b/_/create') %}
    {{ input('text', 'boardname', 'Board name', required=true) }}
    {{ input('text', 'display_name', "Display name") }}
    {{ input('text', 'passcode') }}
    {{ input('textarea', 'description') }}
    <label class="block">
      <input type="checkbox" name="private" checked/>
      <span class="text-gray-700">Private (posts will be hidden for non-members)</span>
    </label>
    {% endcall %}
  </main>
{% endblock %}