{% from "components/form_controls.njk" import input %}
{% extends "layouts/form.njk" %}

{% set form_title = title %}
{% set form_action = action %}

{% block form %}
  {{ input('text', 'title', 'Title', value=post.title, required=true) }}
  {{ input('textarea', 'body', value=post.body) }}
  <label class="block">
    <input type="checkbox" name="private" {{ "disabled" if board.private }} {{ "checked" if board.private else (("checked" if post.private) if post else "checked") }}/>
    <span class="text-gray-700">Private (posts will be hidden for non-members)</span>
  </label>
{% endblock %}