{% from "components/form_controls.njk" import form, input %}
{% extends "layouts/base.njk" %}

{% block body %}
  {% if messages %}
    {% include "components/alert.njk" %}
  {% endif %}
  <main class="container-auto">
    {% call form(title, action) %}
    {{ input('text', 'title', 'Title', value=post.title, required=true) }}
    {{ input('textarea', 'body', value=post.body) }}
    {% endcall %}
  </main>
{% endblock %}