{% extends "layouts/feed.njk" %}
{% from "components/buttons.njk" import get_btn, post_btn %}

{% macro is_member() -%}
  {{ ("leave" if is_current_user_member else "join") }}
{%- endmacro %}

{% block subheader %}
  <div class="h-20 grid grid-cols-[auto_1fr] grid-rows-2 px-28">
    <img class="row-span-2 rounded-full h-14 w-14 mr-6 active:ring-teal-500 self-center" src="{{ board.boardname | avatar }}" alt="profile picture"/>
    <div class="self-end flex flex-row justify-between">
      <h1 class="font-bold tracking-wide text-3xl">
        {{ board.display_name }}
      </h1>
      {% if is_current_user_member %}
        <div class="flex space-x-3">
          {% if current_user.username === board.creator %}
            {{ get_btn('Edit', board.url + '/edit', class="btn--primary-r") }}
          {% endif %}
          {{ get_btn('Post', board.url + '/post') }}
          {{ post_btn('Leave', board.url + '/leave', class='btn--danger') }}
        </div>
      {% else %}
        {{ get_btn('Join', board.url + '/join') }}
      {% endif %}
    </div>
    <p class="font-medium tracking-wide text-lg text-gray-600 self-start">{{ board.url }}</p>
  </div>
{% endblock %}

{% block left_column %}
  <pre>{{ board | dump(2) }}</pre>
  {{ super() }}
{% endblock %}

{% block right_column %}
  <div class="shadow-sm rounded-md bg-white">
    <h2 class="font-semibold p-3 text-white bg-blue-500 rounded-t-md">About Community</h2>
    <div class="p-3 space-y-3">
      {% if board.description %}
        <div class="prose prose-sm">{{ board.description | makehtml | safe }}</div>
      {% else %}
        <p>This board doesn't have any information yet!</p>
      {% endif %}
      <p class="text-gray-500 text-sm">Created {{ board.date_created | formatdate }}</p>
    </div>
  </div>
{% endblock %}