{% extends "layouts/main.njk" %}
{% from "components/buttons.njk" import get_btn, post_btn %}

{% macro is_member() -%}
  {{ ("leave" if is_current_user_member else "join") }}
{%- endmacro %}

{% block main %}
  <h1 class="font-semibold text-lg">{{ board.boardname }}</h1>
  <pre>{{ board | dump(2) }}</pre>
  {% if is_current_user_member %}
    {{ post_btn('Leave', board.url + '/leave') }}
  {% else %}
    {{ get_btn('Join', board.url + '/join') }}
  {% endif %}
{% endblock %}