{% extends "layouts/main.njk" %}

{% macro is_member() -%}
  {{ ("leave" if is_current_user_member else "join") }}
{%- endmacro %}

{% block main %}
  <h1 class="font-semibold text-lg">{{ board.boardname }}</h1>
  <pre>{{ board | dump(2) }}</pre>
  {% if is_current_user_member %}
    <form action="{{ board.url }}/leave" method="post">
      <button
        type="submit"
        class="font-semibold text-white text-center rounded-md px-4 py-1 bg-blue-600 border border-solid border-blue-600
          focus:ring">
        Leave
      </button>
    </form>
  {% else %}
    <a href="{{ board.url }}/join" class="font-semibold text-white text-center rounded-md px-4 py-1 bg-blue-600 border border-solid border-blue-600 focus:ring">
      Join
    </a>
  {% endif %}
{% endblock %}