{% extends "layouts/form.njk" %}
{% from "components/form_controls.njk" import form, input %}

{% set title = "Join board" %}

{% block form %}
  {% call form('Join /b/' + boardname, '/b/' + boardname + '/join') %}
  {{ input('password', 'passcode', required=true) }}
  {% endcall %}
{% endblock %}