{% set title = "Join board" %}
{% from "components/form_controls.njk" import input %}
{% extends "layouts/form.njk" %}

{% set form_title = 'Join /b/' + boardname %}
{% set form_action = '/b/' + boardname + '/join' %}

{% block form %}
  {{ input('password', 'passcode', required=true) }}
{% endblock %}