{% extends "layouts/not_found.njk" %}

{% block heading %}
  Sorry, there aren't any communities on Privvit with that name
{% endblock %}

{% block subheading %}
  This community may have been banned or the community name is incorrect.
{% endblock %}