{% extends "layout.njk" %}

{% block content %}
  <main class="text-center container-auto mt-24 max-w-md">
    <h1 class="font-semibold text-xl mb-4">Sorry, there aren’t any communities on Privvit with that name</h1>
    <h2 class="font-medium text-lg mb-12">This community may have been banned or the community name is incorrect.</h2>
    <a href="/" class="font-semibold text-white px-4 py-2 bg-blue-600 rounded-lg focus:ring" type="submit">Go Home</a>
  </main>
{% endblock %}