{% extends "layouts/not_found.njk" %}

{% block heading %}
  Sorry, there aren't any users on Privvit with that name
{% endblock %}

{% block subheading %}
  This user may have been deleted or the name is incorrect.
{% endblock %}