{% extends "layouts/feed.njk" %}
{% from "components/card.njk" import card %}
{% from "components/post.njk" import post_card %}

{% block left_column %}
  {% if posts.length %}
    {% for post in posts %}
      {% call post_card(post) %}
      <p class="text-sm text-gray-500 mb-2">
        Posted in
        <a class="font-semibold hover:underline" href="/b/{{ post.board }}">/b/{{ post.board }}</a>
      </p>
      {% endcall %}
    {% endfor %}
  {% else %}
    <p class="font-semibold text-center text-gray-700">
      This user hasn't made any posts yet!
    </p>
  {% endif %}
{% endblock %}

{% block right_column %}
  {% call card('About ' + user.display_name) %}
  <p class="text-sm text-gray-500 text-center">
    {{ user.url }} • Joined
    {{ user.date_created | formatdistance }} ago
  </p>
  <p>
    {{ user.bio | escape if user.bio else "This user hasn't written anything yet!" }}
  </p>
  {% endcall %}
{% endblock %}